body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/fondo-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-trabajos{
  background-color: #181f54;
}
/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #232b6a;
}
.card{
  transition: all .3s ease;
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
